.work-examples-card .content-img {
  position: relative;
  overflow: hidden;
}

.work-examples-card .content-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  padding: 0 24px;
  display: block;
  width: 370px;
  height: 294px;
  transform: translateY(100%);

  opacity: 0.9;
  background-color: $accent-color;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-card .description {
  position: absolute;
  top: 50%;
  transform: translateY(150%);
  margin: 0;
  padding: 24px;
  opacity: 0.9;
  z-index: 2;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $inverse-color;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-card:hover .content-img::after,
.work-examples-card:focus .content-img::after {
  transform: translate(0);
}

.work-examples-card:hover .description,
.work-examples-card:focus .description {
  transform: translateY(-50%);
}
