// // стили закрывающей кнопки

.closing-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 25px;
  border-style: none;
  background-color: $inverse-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;

  &:active {
    border: 1px solid $accent-color;
    border-radius: 50%;
  }
}

.closing-button:hover svg {
  fill: $accent-color;
}
